/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* User details */
.semi-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #5ca17b;
  width: 379px;
  height: 200px;
  border-radius: 0 0 50% 50%;
}

.user-details-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 90%;
}

.user-name {
  color: white;
  font-size: 2.5rem;
}

.points {
  color: #297cd2;
  font-size: 2.5rem;
}

.logo {
  width: 100px;
  height: auto;
}

.challenges {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 1rem;
  border: solid 0.1rem #d4d4d4;
  width: 100%;
  max-width: 24rem;
  height: 300px;
}

.challenges-title,
.leader-board-title {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 1.5rem;
}

.leader-board-title {
  margin-left: 25px;
}

/* Leader board */
.board-list,
.board-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-list {
  padding: 0.5rem 1rem;
}

.position {
  padding-right: 1rem;
}

.name {
  padding: 0 1rem;
}

.kf {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #8c96e6;
}

/* Navigation bar */
.nav-bar {
  height: 3rem;
  margin-top: 20px;
  border-top: solid 0.1rem #d4d4d4;
  /* width: 100%; */
}

.icon {
  width: 30px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 10px;
}

.nav-links li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

a {
  text-decoration: none;
  color: #297cd2;
  font-weight: bold;
}

/* Carousel */
#slider {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 170px; 
  overflow: hidden;
  margin: 20px auto;
}

.slide {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  position: relative;
}


/* Card styles */
.card {
  background: #fff;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  height: 170px;
  border: solid .1rem #d4d4d4;
  max-width: 370px;
}

/* Card content */
.card-title {
  display: flex;
  justify-content: space-evenly;
  background: #5ca17b;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
  border-radius: 9px 9px 0 0;
}

.card-title h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: #8c96e6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.card-title p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.card-text {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

/* Card button */
.card-button-container {
  display: flex;
  justify-content: space-around;
}

.card-button {
  padding: 10px 15px;
  font-size: 1rem;
  color: white;
  background-color: #5ca17b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button.prev,
button.next {
  border-radius: .4rem;
  background-color: #297cd2;
  color: white;
  border: none;
  padding: 8px;
  font-size: 1rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .user-name,
  .points {
    font-size: 2rem;
  }

  .nav-links li {
    padding: 10px 0;
  }
}
