/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* User details */
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #7fdca9;
  width: 390px;
  height: 200px;
}

.user-details-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}

.user-name {
  color: white;
  font-size: 3rem;
}

.points {
  color: #297cd2;
  font-size: 3rem;
}

.logo {
  width: 100px;
  height: auto;
}

.challenges {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 1rem;
  border: solid .1rem #D4D4D4;
  width: 320px;
  height: 300px;
}

.challenges-title {
  margin-top: 10px;
  margin-left: 15px;
}

.nav-bar {
  height: 3rem;
  margin-top: 20px;
  border-top: solid .1rem #D4D4D4;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  ;
}

a {
  text-decoration: none;
}

/* Carousel */
#slider { 
  position: relative;
  width: 300px; 
  margin: 20px auto;
}
.slide {
  position: absolute;
  width: 300px;
  left: 0px;
  top: 0px;
  animation-name:fading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes fading {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}